/* <<<<<<< HEAD */
.grid-container {
  display: grid;

}

.grid-item {

  color: red;
  width: 50px;
  height: 50px;
  background: url('img/herbe.png');

}

.tuileIndestructible {
  background: url('img/bloc_indestructible.png');
}

.brique {
  background: url('img/brique.png');
}

/* .brique {

======= */
#hero{
  background-image: url("/images/back.svg");
 }

body {
  background:yellow;
/* >>>>>>> dfbc97c2bdda39e673793c752f12d3d5ae36dc78 */
}
