.grid-container {
  display: grid;
  grid-template-columns: repeat(19, 50px);
  position:relative;
}

.grid-item {

  color: red;
  width: 50px;
  height: 50px;
  background: url('img/herbe.png');

}

.tuileIndestructible {
  background: url('img/bloc_indestructible.png');
  width:50px;
  height:50px;
}

.brique {
  background: url('img/brique.png');
}

/* .brique {

======= */
#hero{
  background-image: url("/images/back.svg");
 }

.unit{
  width:50px;
  height:50px;
  position:absolute;
}
